body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.canvas-temp {
  /* border: 1px solid black; */
  margin: 10px;
}

/* 


.draw-pad {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.phone{
  display: none;
}
.ipad{
  display: flex;
}


@media (max-width: 767px){
  .phone{
    display: flex;
  }
  .ipad{
    display: none;
  }
} */


#colorPickerWrapper {
  position: fixed;
  left: 10px;
  top: 10px;
}

#colorPickerWrapper input{
  display: none;
}

#colorPickerWrapper img {
  width: 50px;
  height: 50px;
}

#colorPickerWrapper a{
  display: block;
}